.productdisplay{
    display: flex;
    margin: 20px 70px;
}
.productdisplay-left{
    display: flex;
    gap: 17px; 
}
.prooductdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.prooductdisplay-img-list img{
    height: 137px;
    width: 250px;
}
.productdisplay-main-img{
    width: 1050px;
    height: 557px;
}
.productdisplay-right{
    display: flex;
    flex-direction: column;
    gap: 17px; 
    margin:0px 70px;
}
.productdisplay-right h1{
    color:#3d3d3d;
    font-size: 38px;
    font-weight: 550;
}
.productdisplay-right-star{
    display: flex;
    gap: 3px;
    align-items: center;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    gap: 30px;
}
.productdisplay-right-price-old{
    text-decoration: line-through;
    color: #5e5e5e;
    font-size: 20px;
}
.productdisplay-right-price-new{
    color:#ff0000;
    font-size: 27px;
    font-weight: 500;
}
.productdisplay-right-description{
    display: flex;
    font-weight: 300;
}
.productdisplay-right-size h1{
    color:#656565;
    font-size:20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin-top: 10px;
    gap:20px;

}
.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border:1px solid #ebebeb;
    border-radius: 5px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 17px 40px;
    width: 250px;
    font-size: 20px;
    font-weight: 400;
    color:#ffffff;
    background: #fb4141 ;
    border-radius: 20px;
    /* border: none; */
    outline: none;
    cursor: pointer;

}
.productdisplay-right-category span{
    font-weight: 600;
}
@media(max-width:1280px){
     .productdisplay{
        margin: 0px 60px;
     }
     .productdisplay-left{gap:10px;}
     .prooductdisplay-img-list{
        gap: 10px;
     }
    .prooductdisplay-img-list img{
        height: 120px;
    }
    .productdisplay-main-img{
        width: 850px;
        height: 510px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 30px;
    }
    .productdisplay-right-star{
        gap: 3px;
        font-size: 13px;
    }
    .productdisplay-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .productdisplay-right-description{
        font-size: 13px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right-sizes div{
        padding: 14px 20px;
    }
    .productdisplay-right button{
        width:150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .productdisplay{
       margin: 0px 30px;
    }
    .productdisplay-left{
        gap:5px;
    }
    
   .prooductdisplay-img-list img{
       height: 80px;
   }
   .productdisplay-main-img{
       width: 550px;
       height: 350px;
   }
   .productdisplay-right h1{
       font-size: 20px;
   }
   .productdisplay-right-star img{
       width: 15px;
   }
   .productdisplay-right-description{
    font-size: 12px;
    }
   .productdisplay-right-sizes{
      margin: 10px 0px 0px 0px;
   }
   .productdisplay-right-sizes div{
       padding: 8px 15px;
       font-size: 14px;
   }
   .productdisplay-right button{
       width:120px;
       padding: 12px 0px;
       margin-bottom: 0px;
       font-size: 16px;
   }
   .productdisplay-right-category{
       margin-top: 5px;
       font-size: 14px;
   }
}
@media(max-width:800px) {
    .productdisplay {
        margin: 0px 10px;
    }
    .productdisplay-left {
        gap: 5px;
        display: flex;
        flex-direction: column-reverse; 
        align-items: center;
        justify-content: flex-end;
    }
    .prooductdisplay-img-list {
        flex-direction: row;
        gap: 6px;
        margin-top: 10px; 
    }
    .prooductdisplay-img-list img {
        height: 60px;
    }
    .productdisplay-main-img {
        width: 350px;
        height: 350px;
    }
    .productdisplay-right h1 {
        font-size: 14px;
    }
    .productdisplay-right-star img {
        width: 13px;
    }
    .productdisplay-right-description {
        font-size: 11px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px ;
    }
    .productdisplay-right-sizes {
        margin: 10px 0px 0px 0px;
    }
    .productdisplay-right-sizes div {
        padding: 6px 11px;
    }
    .productdisplay-right button {
        width: 100px;
        font-size: 16px;
    }
    .productdisplay-right-category {
        font-size: 13px;
    }

}


@media(max-width:500px) {
    .productdisplay {
       flex-direction: column;
    }
    .productdisplay-left {
        gap: 15px;
        flex-direction: row; 
        margin: auto;
    }
    .prooductdisplay-img-list{
        flex-direction: column;
        gap:3px;
    }
    .prooductdisplay-img-list img{
        height: 83px;
        width: 80px;
    }
    .productdisplay-main-img{
        height: 350px;
        width: 300px;
    }
    .productdisplay-right{
        margin: 5px;
    }
    .productdisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-right-sizes{
        gap: 10px;
        margin: 20px 0px;
    }
    .productdisplay-right-sizes  div{
        padding: 10px 16px;
        font-size: 14px;
    }
    .productdisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .productdisplay-right-category{
        font-size: 16px;
    }

}