.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #fbfbfb;
    padding: 40px 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo p {
    color: #383838;
    font-size: 40px;
    font-weight: 700;
}

.footer-logo img {
    width: 80px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 120px;
    color: #252525;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-links li, .footer-links a {
    color: #252525;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li:hover, .footer-links a:hover {
    color: #ff6347;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-icons-container img {
    width: 25px;
}

.footer-icons-container:hover {
    background-color: #ff6347;
    border-color: #ff6347;
}

.footer-icons-container img:hover {
    filter: brightness(90%);
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #666;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.footer-copyright hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #e0e0e0;
}

hr {
    margin-bottom: 20px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
    .footer-links {
        font-size: 16px;
        gap: 30px;
    }
    .footer-logo img {
        width: 70px;
    }
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .footer-social-icon {
        gap: 10px;
    }
    .footer-icons-container img {
        width: 20px;
    }
}

@media (max-width: 500px) {
    .footer-logo p {
        font-size: 24px;
    }
    .footer-links {
        font-size: 14px;
    }
    .footer-icons-container img {
        width: 18px;
    }
    .footer-copyright {
        font-size: 14px;
    }
}
